<div class="full-width">
    <div id="wrapper-inner-login" class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--10-col mdl-card mdl-shadow--2dp wrapper-wide">
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                <header class="mdl-layout__header--seamed">
                    <div class="mdl-layout__header-row">
                        <!-- Title -->
                        <span class="mdl-layout-title">Prijava</span>
                        <div class="mdl-layout-spacer"></div>
                        <nav class="mdl-navigation mdl-layout--large-screen-only"></nav>
                    </div>
                </header>

                <%= form_tag sessions_path do %>
                    <div class="mdl-grid full-width" style="text-align:center">
                        <div class="mdl-cell mdl-cell--5-col cell-eposta">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <%= label_tag "E-pošta", nil, {class: 'mdl-textfield__label'} %>
                                <%= text_field_tag :email, params[:email], {class: 'mdl-textfield__input'} %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>
                        
                        <!-- Password form -->
                        <div class="mdl-cell mdl-cell--5-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <%= label_tag "Geslo", nil, {class: 'mdl-textfield__label'} %>
                                <%= password_field_tag :password, nil, {class: 'mdl-textfield__input'} %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>

                        <!-- Login button -->
                        <div class="mdl-cell mdl-cell--5-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label align-left">
                                <%= submit_tag 'Login', {class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'} %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>
                    </div>
                <% end %>
            </div>
            
            <div class="mdl-cell mdl-cell--1-col"></div>
        </div>

        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--10-col">
            <%= link_to 'Nazaj', root_path, {class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'} %> 
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
    </div>
</div>