<div id="body-wrapper-view" class="body-wrapper">
    <h2 id="body-title">Registracija</h2>
    <div class="details-wrapper">
        <div class="details-inner-wrapper">
            <%= form_for @User do |f| %>
                <% if @User.errors.any? %>
                    <div class="error">
                        <p>
                        <% @User.errors.full_messages.each do |message| %>
                            <%= message %>
                        <% end %>
                        </p>
                    </div>
                <% end %>
                <br>
                    <%= f.label "E-Pošta" %> <br>
                    <%= f.text_field :email %>
                <br>
                    <%= f.label "Geslo" %> <br>
                    <%= f.password_field :password %>
                <br>
                    <%= f.label "Potrdi geslo" %> <br>
                    <%= f.password_field :password_confirmation %>
                <br>
                <br>
                <%= f.submit "Registracija", {class: 'button'} %>
            <% end %>
        </div>
    </div>
    
    <div class="footer">
        <%= link_to "Nazaj", root_path, {class: "button"} %>
    </div>
</div>