<div class="full-width">
    <div id="wrapper-inner" class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--10-col mdl-card mdl-shadow--2dp">
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                <header class="mdl-layout__header--seamed">
                    <div class="mdl-layout__header-row">
                        
                        <span class="mdl-layout-title">Prebrskaj po prevozih</span>
                        
                        <div class="mdl-layout-spacer"></div>
                        <span class="today next_day"><%= link_to 'Danes', root_path unless (@date == Date.today) %></span>
                        <div class="mdl-layout-spacer"></div>

                        <nav class="mdl-navigation">
                            <%= link_to 'Ponudi Prevoz', new_ride_path, {class: 'mdl-navigation__link mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent prevoz-new'} %>
                        </nav>
                    </div>
                </header>

                <div class="mdl-grid full-width">
                    <div class="mdl-cell mdl-cell--3-col next_day">
                        <% if(@date != Date.today) %>
                            <%= link_to @date.yesterday.strftime("< %A"), "/ride/#{@date.yesterday}" %>
                        <% else %>
                            <%= " " %>
                        <% end %>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col"></div>
                    <div class="mdl-cell mdl-cell--4-col date_display"><%= @date.strftime("%A, %d. %B") %></div>
                    <div class="mdl-cell mdl-cell--1-col"></div>
                    <div class="mdl-cell mdl-cell--3-col next_day"><%= link_to @date.tomorrow.strftime("%A >"), "/ride/#{@date.tomorrow}" %></div>
                </div>
                <div class="mdl-grid full-width bottom" style="text-align:center">
                    <div class="mdl-cell mdl-cell--3-col">Od</div>
                    <div class="mdl-cell mdl-cell--3-col">Do</div>
                    <div class="mdl-cell mdl-cell--3-col">Čas</div>
                    <div class="mdl-cell mdl-cell--2-col">Cena</div>
                </div>

                <% @Rides.each do |ride| %>
                    <div class="mdl-grid full-width row-hover" style="text-align:center">
                        <div class="mdl-cell mdl-cell--3-col">
                            <%= link_to ride.start.name, ride_path(ride.id) %>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col">
                            <%= ride.end.name %>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col">
                            <%= ride.rdate.strftime("%A, ob #{ride.time}") %>
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            <%= ride.price + " €" %>
                        </div>
                    </div>
                    <% end %>
            </div>
            <div class="mdl-cell mdl-cell--1-col"></div>
        </div>
    </div>
</div>