<!--<div id="body-wrapper-view" class="body-wrapper">
    
    <h2 id="body-title">Ponudi Prevoz</h2>
    
    <div class="details-wrapper">
        <div class="details-inner-wrapper">
            <%= form_for @Ride do |f| %>
                <table>
                    <tr>
                        <td><%= f.label 'Kraj Odhoda:', {class: 'details-info'} %></td>
                        <td><%= f.text_field :start_id %></td>
                    </tr>
                    <tr>
                        <td><%= f.label 'Kraj Prihoda:', {class: 'details-info'} %></td>
                        <td><%= f.text_field :end_id %></td>
                    </tr>
                    <tr>
                        <td><%= f.label 'Čas Odhoda:', {class: 'details-info'} %></td>
                        <td><%= f.date_field :time %></td>
                    </tr>
                    <tr>
                        <td><%= f.label 'Število oseb:', {class: 'details-info'} %></td>
                        <td><%= f.number_field :max_people %></td>
                    </tr>
                    <tr>
                        <td><%= f.label 'Avto:', {class: 'details-info'} %></td>
                        <td><%= f.text_field :desc_car %></td>
                    </tr>
                    <tr>
                        <td><%= f.label 'Cena:', {class: 'details-info'} %></td>
                        <td><%= f.number_field :price %></td>
                    </tr>
                    <tr>
                        <td><%= f.label 'Zavarovanje:', {class: 'details-info'} %></td>
                        <td><%= f.text_field :insurance %></td>
                    </tr>
                    <tr>
                        <td><%= f.label 'Telefon:', {class: 'details-info'} %></td>
                        <td>
                            <% if logged_in? %>
                                <%= logged_in?.phone %>
                            <% else %>
                                <%= f.phone_field :phone_num %>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td><%= f.label 'Dodatne Informacije: ', {class: 'details-info'} %> <br></td>
                        <td><%= f.text_area :desc %></td>
                    </tr>
                    <tr>
                        <td><%= f.submit 'Dodaj', {class: 'button'} %></td>
                    </tr>
                </table>
            <% end %>
        </div>
    </div>
    
    <div class="footer">
        <%= link_to "Nazaj", root_path, {class: "button"} %>
    </div>
    
</div>-->


<div class="full-width">
    <div id="wrapper-inner-new-ride" class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--10-col mdl-card mdl-shadow--2dp wrapper-wide">
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                <header class="mdl-layout__header--seamed">
                    <div class="mdl-layout__header-row">
                        <!-- Title -->
                        <span class="mdl-layout-title">Ponudi Prevoz</span>
                        <div class="mdl-layout-spacer"></div>
                        <nav class="mdl-navigation mdl-layout--large-screen-only"></nav>
                    </div>
                </header>

                <%= form_for @Ride do |f| %>
                    <div class="mdl-grid full-width" style="text-align:center; align-items: center;">
                        <div class="mdl-cell mdl-cell--2-col">Kraj Odhoda:</div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <%= f.text_field :start_id, {class: 'mdl-textfield__input'} %>
                                <%= f.label ' ', {class: 'mdl-textfield__label'} %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--5-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>
                        
                        <!-- Kraj prihoda form -->
                        <div class="mdl-cell mdl-cell--2-col">Kraj Prihoda:</div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <%= f.label ' ', {class: 'mdl-textfield__label'} %>
                                <%= f.text_field :end_id, {class: 'mdl-textfield__input'} %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--5-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>

                        <!-- Cas odhoda form -->
                        <div class="mdl-cell mdl-cell--2-col">Čas odhoda:</div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <%= f.label ' ', {class: 'mdl-textfield__label'} %>
                                <%= f.text_field :time, {class: 'mdl-textfield__input'} %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--5-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>

                        <!-- Max people form -->
                        <div class="mdl-cell mdl-cell--2-col">Število Oseb:</div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <%= f.label ' ', {class: 'mdl-textfield__label'} %>
                                <%= f.text_field :max_people, {class: 'mdl-textfield__input'} %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--5-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>

                        <!-- Avto desc form -->
                        <div class="mdl-cell mdl-cell--2-col">Avto:</div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <%= f.label ' ', {class: 'mdl-textfield__label'} %>
                                <%= f.text_field :desc_car, {class: 'mdl-textfield__input'} %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--5-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>

                        <!-- Cena form -->
                        <div class="mdl-cell mdl-cell--2-col">Cena:</div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <%= f.label ' ', {class: 'mdl-textfield__label'} %>
                                <%= f.text_field :price, {class: 'mdl-textfield__input'} %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--5-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>

                        <!-- Zavarovanje form -->
                        <div class="mdl-cell mdl-cell--2-col">Zavarovanje:</div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <%= f.label ' ', {class: 'mdl-textfield__label'} %>
                                <%= f.text_field :insurance, {class: 'mdl-textfield__input'} %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--5-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>

                        <!-- Telefon form -->
                        <div class="mdl-cell mdl-cell--2-col">Telefon:</div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <%= f.label ' ', {class: 'mdl-textfield__label'} %>
                                <% if logged_in? %>
                                    <%= logged_in?.phone %>
                                <% else %>
                                    <%= f.phone_field :phone_num, {class: 'mdl-textfield__input'}%>
                                <% end %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--5-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>

                        <!-- Dodatne info form -->
                        <div class="mdl-cell mdl-cell--2-col">Dodatne informacije:</div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-textfield mdl-js-textfield">
                                <%= f.label ' ', {class: 'mdl-textfield__label'} %>
                                <%= f.text_area :desc, {class: 'mdl-textfield__input'} %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--5-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>

                        <!-- submit gumb -->
                        <div class="mdl-cell mdl-cell--2-col">
                            <div id="button-register-wrapper" class="mdl-textfield mdl-js-textfield align-left">
                                <%= f.submit 'Dodaj', {class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'} %>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col">

                        </div>
                        <div class="mdl-cell mdl-cell--5-col"></div>
                        <div class="mdl-cell mdl-cell--1-col"></div>

                    </div>
                <% end %>
            </div>
            
            <div class="mdl-cell mdl-cell--1-col"></div>
        </div>

        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--10-col">
            <%= link_to 'Nazaj', root_path, {class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'} %> 
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
    </div>
</div>